body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    min-width: 100px;
    min-height: 100px;
    width: 90vh;
    height: 90vh;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 1px solid black;
}

#grid-button {
    width: 100px;
    height: 50px;
    margin: 10px auto;
}